<p style="color: green"><%= notice %></p>

<%= render @winestrain %>

<div>
  <%= link_to "Edit this winestrain", edit_winestrain_path(@winestrain) %> |
  <%= link_to "Back to winestrains", winestrains_path %>

  <%= button_to "Destroy this winestrain", @winestrain, method: :delete %>
</div>
